---
layout : base.njk
tags : posts
title : Sql data injection?
published_on : 26/02/2021
author : Claude Rukamiza
route : "/posts/datainject/"
auth_picturefile_path : "./img/author.png"
post_picturefile_path :  "./img/datainject.jpg"
post_minipicture_path : "./img/datainject.png"
intro : "SQL data injection is a type of website attack that allows people to run a malicious SQL statement on a database 
        An SQL injection attack can result  in  Displaying sensitive data from the database, Modifying data, 
        Executing administrative operations and Dropping tables or the whole database"
---

<div class="container">
<article>
    <h3> Sql data injection ?</h3>
    <p>
    Laravel is a web application framework with expressive, elegant syntax. 
A web framework provides a structure and starting point for creating your application, 
allowing you to focus on creating something amazing while we sweat the details.
    </p>
</article>
</div>