---
layout: base.njk
title : How to use docker on linux?
---
<article class="container">
    <h2>{{title}}</h2>

    <p>
        Linux is a free open source, fully-customizable operating system. It is available under numerous distributions, 
        which sometimes differ from one another. This diversity has allowed the operating system: on the one hand, 
        to be more secure and customizable and, on the other hand, brought more complexity in the development of application 
        on Linux platform.
    </p>
    <p>
        The vast number of Linux distribution can bring confusion and issues due to how they can perform similar 
        functionalities differently. For instance, CentOs and RHEL use RPM package as installable apps, 
        but on Debian/ubuntu-based distribution like Mint, DEB is the package performing the same functionality.
    </p>
    <p>
        Therefore, if you have a company running different Linux on different parts of the business, it becomes quite 
        complicated to make those machine communicate or have a solution which will be simple and work for all the company 
        IT infrastructure.
        The problem is solved using various techniques and package, such as using the snap package, but there is still a need 
        to make that process easy- that where Docker comes in.
    </p>
</article>