---
layout : base.njk
tags : posts
title : what it is database indexing ?
published_on : 27/02/2021
author : Claude Rukamiza
route : "/posts/indexingdatabasepost/"
auth_picturefile_path : "./img/author.png"
post_picturefile_path :  "./img/dbindexing.jpg"
post_minipicture_path : "./img/dbindexing.png"
intro : "Indexing is a data structure technique to efficiently retrieve records from the database 
        files based on some attributes on which the indexing has been done. Indexing in database systems 
        is similar to what we see in books.."
---
<article>
    <h3> How is rendering done in web development ?</h3>
    <p>
    Indexing is a data structure technique to efficiently retrieve records from the database 
    files based on some attributes on which the indexing has been done. Indexing in database 
    systems is similar to what we see in books.
    </p>
</article>
