---
layout : base.njk
tags : posts
title : What it is Jamstack?
published_on : 23/02/2021
author : Claude Rukamiza
route : "/posts/jamstackpost/"
auth_picturefile_path : "./img/author.png"
post_picturefile_path :  "./img/jamstack.jpeg"
post_minipicture_path : "/../../img/jamstack.png"
intro : "Jamstack is an architecture designed to make the web faster, more 
        secure, and easier to scale. It builds on many of the tools and workflows 
        which developers love, and which bring maximum productivity.

        The core principles of pre-rendering, and decoupling, enable 
        sites and applications to be delivered with greater confidence and 
        resilience than ever before."
---
<div class="container">
    <h3>What it is Jamstack?</h3>
    <article>
        <p>Jamstack is an architecture designed to make the web faster, more secure, and easier to scale. It builds on many of the tools and workflows which developers love, and which bring maximum productivity.

The core principles of pre-rendering, and decoupling, enable sites and applications to be delivered with greater confidence and resilience than ever before.</p>
    </article>
</div>