---
layout : base.njk
tags : posts
title : How is rendering done in web development ?
published_on : 23/02/2021
author : Claude Rukamiza
route : "/posts/renderingpost/"
auth_picturefile_path : "./img/author.png"
post_minipicture_path : "/../../img/rendering.png"
post_picturefile_path :  "./img/rendering.jpeg"
intro : "Solutions for static rendering come in all shapes and sizes. 
    Tools like Gatsby are designed to make developers feel like their 
    application is being rendered dynamically rather than generated as a build step. 
    Others like Jekyll and Metalsmith embrace their static nature, providing a more 
    template-driven approach."
---
<article>
    <h3> How is rendering done in web development ?</h3>
    <p>
    Solutions for static rendering come in all shapes and sizes. 
    Tools like Gatsby are designed to make developers feel like their 
    application is being rendered dynamically rather than generated as a build step. 
    Others like Jekyll and Metalsmith embrace their static nature, providing a more 
    template-driven approach.
    </p>
</article>