---
layout : base.njk
tags : posts
title : what it is Database tuning?
published_on : 27/02/2021
author : Claude Rukamiza
route : "/posts/turningdatabasepost/"
auth_picturefile_path : "./img/author.png"
post_picturefile_path :  "./img/databaseturning.png"
post_minipicture_path : "./img/databaseturningmini.png"
intro : "Database tuning describes a group of activities used to optimize and 
        homogenize the performance of a database. It usually overlaps with query tuning, 
        but refers to design of the database files, selection of the database management 
        system (DBMS) application, and configuration of the database's environment (operating system, CPU, etc.)."
---
<article>
    <h3> How is rendering done in web development ?</h3>
    <p>
    Solutions for static rendering come in all shapes and sizes. 
    Tools like Gatsby are designed to make developers feel like their 
    application is being rendered dynamically rather than generated as a build step. 
    Others like Jekyll and Metalsmith embrace their static nature, providing a more 
    template-driven approach.
    </p>
</article>