---
title: A2z digit blog
layout: base.njk
---

  <!--Main content-->
  <main class="container p-4">

    <div class="row">
       {% for post in collections.posts %}
        <div class="col-md-4">
          <div class="card m-4" style="width: 18rem;">
            <a href="{{ post.data.route }}"><img src="{{ post.data.post_picturefile_path }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">{{ post.data.title }}</h5>
              <p class="card-text"> {{ post.data.intro }} <br><a href="{{ post.data.route }}">Read more</a></p>
            </div>
           <div class="border d-flex p-3">
              <img src="{{ post.data.auth_picturefile_path }}" class=" rounded-circle  border ms-2 author-img" alt ="...">
              <div class="ms-2 author-name"> {{ post.data.author }}</div>
            </div>
          </div>
        </div>
       {% endfor %}
      

    </div>
    <div class="row">
       <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>
    <div class="row"></div>
  </main>
      